@import '~bootstrap/scss/bootstrap';
body {
  background-image: url('https://images.nintendolife.com/1a27d4d6960c6/mario-kart-7.original.jpg');
  background-repeat: no-repeat;
  background-size: 1600px;
}
